.container {
    width: 300px;
    margin-top: 50px;
    background-color: lightblue;
    border: 1px solid black;
}

.container h4{
    text-align: center;
}

.form-group{
    padding-bottom: 10px;
}

form{
    padding-bottom: 10px;
}